<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html') %>
    
    <title>
        <%=title %>
    </title>
</head>

<body>
    <%- include('partials/navigation.html') %>
    <div class="container">
        <div class="container" id="contact">
            <button type="button" id="btnCargar">contact</button>

        </div>
    </div>

    <script type="text/javascript">
        $('#btnCargar').click(function(){
            var esperar = 2000;
            $.ajax({
                url:"contact",
                beforeSend:function(){
                    $('#contact').text('Cargando...');
                },
                success:function(data){
                    setTimeout(function(){
                        $('#contact').html(data);
                    },esperar
                    );
                }
            });
        });
    </script>
</body>

</html>